<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pneumonia Detection</title>
</head>
<body>

     <h1>Pneumonia Detection</h1>
    <form action="/predict" method="post" enctype="multipart/form-data">
        <label for="file">Upload X-Ray Image:</label>
        <input type="file" name="UploadedFile" accept=".png, .jpg, .jpeg">
        <button type="submit">Predict</button>
    </form>
    {% if result %}
        <p>Result: {{ result }}</p>
        <img src="{{ img_path }}" alt="Uploaded Image" style="max-width: 500px;">
    {% endif %}

</body>
</html>
